@import '../../node_modules/yetti/global.less';

////////////////////////////////////////////////////////
// COLORS
////////////////////////////////////////////////////////

@prime: #5c82fe;

////////////////////////////////////////////////////////
// HEADINGS
////////////////////////////////////////////////////////

.heading() {
  fontSize: 6.5rem;
  font-family: 'Playfair Display',serif;
}

h1 {
  .c(@prime);
  .fs(.heading[fontSize]);
  font-family: .heading[font-family];
} 

////////////////////////////////////////////////////////
// SIZES
////////////////////////////////////////////////////////

@main: 100rem;

////////////////////////////////////////////////////////
// WRAPS
////////////////////////////////////////////////////////

.mainWrap {
  .wrap(@width: @main);
}